{% extends 'layout.html' %} {% block content %}
<div class="container">
    <section class="section knowledge-base">
        <div class="tabs">

            <h2 class="tab active" data-id="115000430632">
                Мои объявления
            </h2>

            <h2 class="tab" data-id="115000430652">
                Личные данные
            </h2>

        </div>
        <section class="categories blocks">

            <div id="115000430632" class="tab-content active">
                <ul class="blocks-list">

                    <li class="blocks-item ">
                        <h3 class="blocks-item-title">
                            Объявления

                        </h3>
                        <ul class="article-list">

                            <li>
                                <a href="/hc/en-us/articles/360000998972-What-methods-of-payments-are-supported-" class="article-item">Активные</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000011052-How-do-I-get-a-receipt-for-my-purchase-" class="article-item">Завершённые</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000011072-How-can-I-get-a-refund-" class="article-item">Подать
                                    новое объявление</a>
                            </li>

                        </ul>
                        <!-- <a href="/hc/en-us/sections/360000238971-Payments" class="see-all">See All Articles</a> -->
                    </li>

                    <li class="blocks-item ">
                        <h3 class="blocks-item-title">
                            Платежи

                        </h3>
                        <ul class="article-list">

                            <li>
                                <a href="/hc/en-us/articles/360000008592-Which-license-do-I-need-" class="article-item">Which
                                    license do I need?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000009272-How-do-I-get-access-to-a-theme-I-purchased-" class="article-item">How
                                    do I get access to a theme I purchased?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000007791-How-do-I-attach-previous-orders-to-my-account" class="article-item">How
                                    do I attach previous orders to my account</a>
                            </li>

                        </ul>
                        <a href="/hc/en-us/sections/115000923111-Purchasing" class="see-all">See All Articles</a>
                    </li>

                    <li class="blocks-item ">
                        <h3 class="blocks-item-title">
                            Сообщения

                        </h3>
                        <ul class="article-list">

                            <li>
                                <a href="/hc/en-us/articles/360000006291-How-do-I-get-help-with-the-theme-I-purchased-" class="article-item">How
                                    do I get help with the theme I purchased?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000034891-What-version-of-Bootstrap-are-the-themes-built-on-" class="article-item">What
                                    version of Bootstrap are the themes built on?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000007811-What-if-I-have-a-question-that-isn-t-answered-here-" class="article-item">What
                                    if I have a question that isn't answered here?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360001068052-Uh-oh-Where-s-my-theme-download-" class="article-item">Uh
                                    oh! Where's my theme download?</a>
                            </li>

                        </ul>
                        <a href="/hc/en-us/sections/360000005971-Support" class="see-all">See All Articles</a>
                    </li>

                    <li class="blocks-item"></li>
                    <li class="blocks-item"></li>
                    <li class="blocks-item"></li>
                </ul>
            </div>

            <div id="115000430652" class="tab-content">
                <ul class="blocks-list">

                    <li class="blocks-item ">
                        <h3 class="blocks-item-title">
                            Персональная информация

                        </h3>
                        <ul class="article-list">

                            <li>
                                <a href="/hc/en-us/articles/360000517772-Applying-to-be-a-seller" class="article-item">Applying
                                    to be a seller</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360001012871-How-do-I-upload-my-theme-" class="article-item">How
                                    do I upload my theme?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000037792-What-are-the-support-requirements-" class="article-item">What
                                    are the support requirements?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000029072-What-is-the-review-process-for-themes-" class="article-item">What
                                    is the review process for themes?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000998252-How-do-I-process-a-refund-" class="article-item">How
                                    do I process a refund?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000020652-Are-all-themes-accepted-on-the-site-" class="article-item">Are
                                    all themes accepted on the site?</a>
                            </li>

                        </ul>
                        <a href="/hc/en-us/sections/360000003812-Manage-Your-Themes" class="see-all">See All Articles</a>
                    </li>

                    <li class="blocks-item ">
                        <h3 class="blocks-item-title">
                            Безопасность

                        </h3>
                        <ul class="article-list">

                            <li>
                                <a href="/hc/en-us/articles/360001014312-Before-you-build-a-theme-" class="article-item">Before
                                    you build a theme...</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360006856032-Most-common-issues-with-theme-submissions-" class="article-item">Most
                                    common issues with theme submissions.</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000034351-How-should-I-extend-Bootstrap-to-build-a-theme-" class="article-item">How
                                    should I extend Bootstrap to build a theme?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000038352-What-browsers-do-I-need-to-support-" class="article-item">What
                                    browsers do I need to support?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000034531-What-should-my-end-result-zip-download-look-like-" class="article-item">What
                                    should my end result .zip download look like?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000038372-How-should-I-name-classes-and-components-" class="article-item">How
                                    should I name classes and components?</a>
                            </li>

                        </ul>
                        <a href="/hc/en-us/sections/360000005851-Creating-your-theme" class="see-all">See All Articles</a>
                    </li>

                    <li class="blocks-item ">
                        <h3 class="blocks-item-title">
                            Служба поддержки

                        </h3>
                        <ul class="article-list">

                            <li>
                                <a href="/hc/en-us/articles/360000011252-What-is-the-commission-structure-" class="article-item">What
                                    is the commission structure?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000008191-How-and-when-do-I-get-paid-" class="article-item">How
                                    and when do I get paid?</a>
                            </li>

                            <li>
                                <a href="/hc/en-us/articles/360000573991-Completing-the-W9-W-8BEN-W-8BEN-E-or-other-W8-s" class="article-item">Completing
                                    the W9, W-8BEN, W-8BEN-E, or other W8's</a>
                            </li>

                        </ul>
                        <a href="/hc/en-us/sections/360000235772-Getting-Paid" class="see-all">See All Articles</a>
                    </li>

                    <li class="blocks-item"></li>
                    <li class="blocks-item"></li>
                    <li class="blocks-item"></li>
                </ul>
            </div>


        </section>

    </section>
</div>
{% endblock %}